<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="motoman_hc10">


  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>
  <xacro:arg name="prefix" default=""/>

  <xacro:include filename="$(find motoman_hc10_description)/urdf/common.gazebo.xacro" />
  
  <link name="world" />


  <!-- transimission -->
  <xacro:include filename="$(find motoman_hc10_description)/urdf/hc10.transmission.xacro" />
  <xacro:hc10_transmission prefix="$(arg prefix)" hw_interface="$(arg transmission_hw_interface)" />

  <xacro:include filename="$(find motoman_hc10_description)/urdf/hc10.gazebo.xacro" />
  <xacro:hc10_gazebo prefix="$(arg prefix)" />

  <!-- hc10 -->
  <xacro:include filename="$(find motoman_hc10_description)/urdf/hc10_macro.xacro" />
  <xacro:motoman_hc10 prefix="$(arg prefix)" parent="world" safety_limits="true"
    joint_1_s_lower_limit="${-pi}"        joint_1_s_upper_limit="${pi}"
    joint_2_l_lower_limit="${-pi/2.0}"    joint_2_l_upper_limit="${pi/2.0}"
    joint_3_u_lower_limit="0"             joint_3_u_upper_limit="${2*pi}"
    joint_4_r_lower_limit="${-pi}"        joint_4_r_upper_limit="0"
    joint_5_b_lower_limit="${-pi}"        joint_5_b_upper_limit="${pi}"
    joint_6_t_lower_limit="${-pi}"        joint_6_t_upper_limit="${pi}"
    safety_pos_margin="${radians(5.0)}"
  >
    <origin xyz="0 0 0.82" rpy="0 0 0" />
  </xacro:motoman_hc10>

  <!-- hand -->
  <xacro:include filename="$(find idec_description)/urdf/hand_macro.xacro" />
  <xacro:hand prefix="$(arg prefix)" parent="tool0">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:hand>


  <!-- shelf -->
  <xacro:include filename="$(find idec_description)/urdf/shelf_macro.xacro" />
  <xacro:shelf prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:shelf>

  <!-- NTX3000 -->
  <xacro:include filename="$(find idec_description)/urdf/NTX3000_macro.xacro" />
  <xacro:ntx3000 prefix="$(arg prefix)" parent="world">
    <origin xyz="-1.2 0.6 0" rpy="0 0 ${pi}" />
  </xacro:ntx3000>

</robot>
